.userBlock {
    display: flex;
    flex-direction: column;
}
.avatar {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.button {
    width: 80px;
}

.selectedPage {
    font-weight: bold;
    color: yellow;
    border: 1px solid black;
    padding: 2px;
}

.page {
    border: 1px solid black;
    padding: 2px;
}