.formControl {
    margin-bottom: 10px;
}

.error textarea, .error input {
    border: 2px solid red;
}

.error input {
    border: 2px solid red;
}

.errorSpan {
    color: red;
    font-size: 12px;
    display: block;
}

.formError {
    color: red;
    padding: 5px;
}