.nav {
    grid-area: nav;
    background-color: cadetblue;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: darkviolet;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.friendsBlock {
    margin-top: 100px;
}

.friends {
    display: flex;
    gap: 5px;
}

