.posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.button {
    /*display: block;*/
}

.newPost {
    display: flex;
    align-items: center;
    gap: 10px
}

.postsBlock {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

