.dialogsContent {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 10px;
}

.dialog {

}

.dialogs .active {
    color: darkviolet;
}

.messages {
    padding: 10px;
}

.message {

}
