.dialogsContent {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 10px;
}

.dialog {
    color: black;
    text-decoration: none;
}

/*.dialogs .active {*/
/*    color: darkviolet;*/
/*}*/

.active {
    color: darkviolet;
}

.messages {
    padding: 10px;
}

/*.message {*/

/*}*/
